version: 2
jobs:
  build_test:
    docker:
      - image: circleci/python:3.7

    working_directory: /tmp/src/gridbspline
    steps:
      - checkout
      - run:
          name: "Install"
          command: |
            pushd $HOME
            sudo pip install numpy imageio
            popd
            pip install --user -e .[all]

      - run:
          name: "Test interpolation"
          command: |
            export PATH=$PATH:$HOME/.local/bin
            py.test --doctest-modules

      - run:
          name: Build package and test Deploy to PyPi
          command: |
            pushd $HOME
            sudo pip install -U twine wheel setuptools
            popd
            echo "${CIRCLE_TAG}" > gridbspline/VERSION
            python setup.py sdist bdist_wheel
            twine upload --repository-url https://test.pypi.org/legacy/ dist/* -u $TWINE_USERNAME -p $TWINE_PASSWORD

  deploy:
    docker:
      - image: circleci/python:3.7

    working_directory: /tmp/src/gridbspline

    steps:
      - checkout
      - run:
          name: Deploy to PyPi
          command: |
            pushd $HOME
            sudo pip install -U twine wheel setuptools
            sudo pip install numpy imageio
            popd
            echo "${CIRCLE_TAG}" > gridbspline/VERSION
            python setup.py sdist bdist_wheel
            twine upload dist/*

workflows:
  version: 2
  gridbspline:
    jobs:
      - build_test:
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build_test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
